.todo__list {
  border-radius: 7px;
  background: $Very-Dark-Desaturated-Blue;
  box-shadow: 0 6px 20px black;
  transition: $time-medium ease;

  &-light {
    background: $Very-Light-Gray;
    box-shadow: 0 6px 20px $Light-Grayish-Blue;
  }

  &-item {
    min-height: 1.5em;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $Very-Dark-Grayish-Blue1;
    transition: $time ease;

    &:hover {
      background: $Very-Dark-Grayish-Blue2;
      cursor: pointer;
    }
    &-light {
      border-color: $Very-Light-Grayish-Blue;
      font-weight: bold;
    }
    &-light:hover {
      background: $Light-Grayish-Blue;
    }
    // & .completed {
    //   text-decoration: line-through;
    // }
  }
  & .task_content {
    margin-left: 8px;
  }
}

.todo__about {
  &-left {
    padding: 20px;
    color: $Dark-Grayish-Blue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &-span {
      transition: $time ease;

      &:hover {
        color: $Light-Grayish-Blue-hover;
        cursor: pointer;
      }
    }
    &-span-light:hover {
      color: $Bright-Blue;
    }
  }
}

.delete {
  transition: $time ease;
  margin-left: 8px;
  &:hover {
    color: red;
  }
}