body {
  display: flex;
  flex-wrap: wrap;
  font-family: $font;
  color: $Light-Grayish-Blue;
  overflow-x: hidden;
  max-width: 100%;
  transition: $time ease;

  @media screen and (max-width: $mobile) {
    background: url(/src/assets/images/bg-desktop-dark.jpg) no-repeat;
    background-color: $Very-Dark-Blue;
    font-size: 18px;
  }
  @media screen and (max-width: $mobile-small) {
    background: url(/src/assets/images/bg-mobile-dark.jpg) no-repeat;
    background-color: $Very-Dark-Blue;
    font-size: 15px;
  }
}
.body-light {
  color: $Very-Dark-Blue;
  background-color: $Very-Light-Grayish-Blue;

  @media screen and (max-width: $mobile) {
    background: url(/src/assets/images/bg-desktop-light.jpg) no-repeat;
  }
  @media screen and (max-width: $mobile-small) {
    background: url(/src/assets/images/bg-mobile-light.jpg) no-repeat;
  }
}

main,
footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  box-sizing: border-box;
  width: 100%;
}

.page__main {
  margin: 0 20px;
}
//BASE END
