.page__header {
  width: 100%;

  &-title {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobile-small) {
      margin: 50px 20px;
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 0.4em;
      color: white;
    }
  }
}
